@import url("./styles/reset.css");
@import url("./styles/variables.css");
@import url("./styles/animations.css");
@import url("./styles/lib.css");

/* BASE */
:root {
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

body {
  position: relative;
  min-height: 100dvh;
  background-color: linear-gradient(
  135deg, 
  hsl(var(--clr-lighter), .6),
  hsl(var(--clr-lighter), .2),
  hsl(var(--clr-lighter), .6)
  );
}
body > * {
  display: flow-root;
}
body > header {
  h1 {
    padding: 1rem;
    width: fit-content;
    @media (width > 40rem) {
      padding: 1rem 4rem;
    }
  }
}
body > main {
  margin: 1rem auto;
  & > section {
    margin: 1rem auto;
    width: min(80rem, 100% - 1rem);
  }
}

/* CMPS */
section.grid {
  @media(width > 60rem){
    grid-template-columns: repeat(2, 1fr);
  }
}

a:has(canvas){
  all: unset;
  cursor: pointer;
}

canvas {
  max-height: calc(100dvh - 4rem);
  background-color: black;
}
aside.flex .link {
  margin: 0;
  padding: .2rem 1rem;
}

